<div class="container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mat-elevation-z8">

    <h1 class="titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        Transferir via pix
    </h1>

    <hr class="hr">

    <mat-horizontal-stepper (selectionChange)="mudaPasso($event)" [linear]="true" #stepper>

        <ng-template matStepperIcon="edit">
            <i class="fa fa-check"></i>
        </ng-template>

        <ng-template matStepperIcon="number">
            <i class="fa fa-fire"></i>
        </ng-template>

        <mat-step [stepControl]="dadosTransferencia" editable="true">
            <ng-template matStepLabel>
                <span>Transferir</span>
            </ng-template>
            <app-dados-pix [stepAtual]="stepAtual" [dadosTransferencia]="dadosTransferencia"></app-dados-pix>
            <div class="button_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <button class="button botaoHabilitado" type="button" #botaoRetorno mat-button tabindex="5"
                    (click)="fechaFormulario()">
                    Fechar
                </button>
                <button tabindex="6" class="button" type="button" mat-button matStepperNext
                    (click)="enviaFormulario()">Próximo</button>
            </div>
        </mat-step>

        <mat-step [stepControl]="dadosConfirmacaoTransferencia" editable="true">
            <ng-template matStepLabel>
                <span>Confirmar</span>
            </ng-template>
            <app-confirma-pix [stepAtual]="stepAtual" [dadosTransferencia]="dadosTransferencia"></app-confirma-pix>
            <div class="button_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <button class="button botaoHabilitado" type="button" #botaoRetorno mat-button tabindex="7"
                    matStepperPrevious>
                    Voltar
                </button>
                <button tabindex="6" class="button" type="button" mat-button matStepperNext
                    (click)="confirmaEnvioDeFormulario(stepper)">Confirmar</button>
            </div>
        </mat-step>

        <mat-step [stepControl]="dadosTransferencia" editable="true">
            <ng-template matStepLabel>
                <span>Finalizado</span>
            </ng-template>
            <app-pix-finalizado (emiteTransferenciaProcessada)="setaProcessamentoDaTransferenciaParaTrue($event)"
                [stepAtual]="stepAtual" [dadosTransferencia]="dadosTransferencia"
                [transferenciaProcessada]="transferenciaProcessada"></app-pix-finalizado>
        </mat-step>

    </mat-horizontal-stepper>

</div>