@import '../../../../../dist/variables.scss';
@import "../../../../../../node_modules/rfs/scss";

div {
    padding: 0;
    margin: 0;
}

.label_container {
    display: flex;
    justify-content: center;
}

.label {
    color: $dark-white;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: $font-roboto;
    margin-bottom: 1rem;
    letter-spacing: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 1rem;
    text-align: center;
}

.labelComPlaceholder {
    margin-bottom: 0.2rem;
}

.placeholder {
    text-align: center;
    color: $common;
    margin-bottom: 0.8rem;
    font-size: 0.8rem;
    font-weight: 400;
    font-family: $font-poppins;
}

.container {
    padding: 0 1rem;
    display: flex;
    margin-bottom: 1.5rem;
    justify-content: center;
}

.block {
    margin-right: 1rem;
}

.content {
    cursor: pointer;
    border: 1px solid $medium-grey;
    height: 4rem;
    padding: 0 1.5rem;
}

.icon_container,
.text_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
}

.icon {
    color: $medium-grey;
}

.text {
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    color: $medium-grey;
    font-family: $font-poppins;
    font-size: 1.2rem;
    font-weight: 500;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content_ativo {
    transition: 0.5s;
    border: 1px solid $primary-color;
}

.icone_ativo,
.text_ativo {
    transition: 0.5s;
    color: $primary-color;
}

@media (max-width: 768px) {
    .label {
        font-size: 1.2rem;
    }
    .placeholder {
        font-size: 0.7rem;
    }
    .text {
        font-size: 1rem;
    }
    .block {
        margin-right: 0;
        margin-bottom: 1rem;
        width: 100%;
    }
}

@media (max-width: 576px) {
    .label {
        font-size: 0.95rem;
    }
    .text {
        font-size: 0.8rem;
    }
}

@media (max-width: 470px) {
    .label {
        font-size: 0.9rem;
    }
}