<div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 label_container">
    <label class="label">
        {{ titulo }}
    </label>
</div>

<div class="row container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

    <div *ngFor="let box of selectBoxList" class="block mat-elevation-z4" (click)="selecionaBox(box)">
        <div class="row content" [ngClass]="{'content_ativo': selectedBox?.value == box?.value}">
            <div class="icon_container">
                <mat-icon [fontIcon]="box.icon" class="icon"
                    [ngClass]="{'icone_ativo':selectedBox?.value == box?.value}"></mat-icon>
            </div>
            <div class="text_container">
                <div class="text col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                    [ngClass]="{'text_ativo': selectedBox?.value == box?.value}">
                    {{ box.text }}
                </div>
            </div>
        </div>
    </div>

</div>