@import '../../../../../dist/variables.scss';
@import "../../../../../../node_modules/rfs/scss";

div {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    padding: 1rem 0rem;
    margin-top: 1rem;
    background-color: transparent;
    font-family: $font-poppins;
}

app-paginacao {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.block_global {
    padding: 0.5rem 1rem;
}

.content_global {
    background-color: $light-black;
}

.informativos_icone,
.informativos_titulo,
.informativos_text {
    display: flex;
    justify-content: center;
}

.informativos_titulo,
.informativos_text {
    margin-top: 0.2rem;
}

.informativos_content {
    padding: 1.5rem 0.5rem;
}

.assinaturas_content {
    height: 100%;
}

.assinaturas_status_container {
    padding: 0.1rem 1rem;
}

.assinaturas_status_content {
    border-radius: 5px;
    padding: 0.3rem 1rem;
    border: 1px solid $primary-color;
}

.assinatura_status_title_content {
    display: flex;
    justify-content: center;
}

.assinatura_status_icon {
    color: $primary-color;
}

.assinatura_status_title {
    color: $dark-white;
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-left: 0.2rem;
}

.assinatura_status_text {
    display: flex;
    justify-content: center;
    color: $light-white;
    font-size: 1.2rem;
    margin-left: 0.2rem;
}

.informativos_icone {
    font-size: 25px;
    width: 25px;
    height: 25px;
    color: $primary-color;
}

.informativos_titulo {
    font-size: 1rem;
    color: $dark-white;
}

.informativos_text {
    font-size: 1.2rem;
    color: $light-white;
}

canvas {
    height: 10rem;
}

.titulo_global {
    color: $dark-white;
    font-size: 1rem;
    font-weight: 700;
    padding: 0 1rem;
    padding-top: 1rem;
    text-align: center;
}

.transferencias_container,
.transacoes_container {
    height: 20rem;
}

.transferencias_block,
.transferencias_content,
.transacoes_block,
.transacoes_content {
    height: 100%;
}

.transacoes_titulo {
    padding: 0;
    padding-top: 1rem;
}

.transacoes_content,
.transferencias_content {
    padding: 0rem 1rem 1rem 1rem;
}

.transacoes_content {
    overflow-y: auto;
}

.transferencias_content {
    overflow: auto;
}

/* width */
::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: $dark-white;
    border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $primary-color;
    box-shadow: inset 0 0 2px $dark-black;
    border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $primary-color-dark;
}

@media (max-width: 1070px) {

    .block_global {
        padding: 0.5rem;
    }

    .informativos_titulo,
    .assinatura_status_title {
        font-size: 0.9rem;
    }

    .informativos_text,
    .assinatura_status_text {
        font-size: 1.1rem;
    }

    .titulo_global {
        font-size: 0.9rem;
    }

}

@media (max-width: 576px) {}