@import '../../../dist/variables.scss';

div {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    padding: 0;
    background: $light-black;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    padding: 0;
    margin: 0;
    background: transparent;
}

.container_botao_menu{
    width: 3.5rem;
    display: flex;
    justify-content: center;
}

.coluna_direita {
    padding-right: 1rem;
    display: flex;
    align-items: center;
}

.user_details_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.5rem;
    padding: 0 1rem;
    border: 1px solid $dark-grey;
    height: 50%;
    cursor: pointer;
}

.user_details_text {
    color: $light-grey;
    font-family: $font-poppins;
    font-size: 0.8rem;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.valor_saldo {
    color: $light-white;
    font-weight: 400;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.user_details_icon {
    color: $primary-color;
    margin-left: 0.1rem;
}

/* BOTÃO QUE ABRE E FECHA O SIDENAV */

.botao_menu {
    color: $primary-color;
}

.icon {
    color: $dark-white;
}

.menu_text {
    font-size: 1rem;
}

::ng-deep .mat-mdc-menu-content {
    background-color: $light-black !important;
}

.menu_text {
    color: $dark-white;
}

.menu_icon {
    color: $primary-color;
}

@media (max-width: 380px) {
    .nome_empresa {
        font-size: 0.90rem
    }
    .mat-icon {
        font-size: 1.4rem;
    }
    .container_nome_empresa {
        margin-top: 0rem;
    }
}