<div class="container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
  <mat-toolbar class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 header">

    <div class="container_botao_menu">
      <button class="botao_menu" (click)="alteraExibicaoSideBar()" mat-icon-button>
        <mat-icon class="icone_menu">menu</mat-icon>
      </button>
    </div>

    <div class="row coluna_direita">
      <button tabindex="-1" mat-icon-button class="icon" matTooltip="Avisos" matTooltipPosition="below">
        <mat-icon>notifications</mat-icon>
      </button>

      <button tabindex="-1" mat-icon-button class="icon" matTooltip="Acionar o suporte" matTooltipPosition="below">
        <mat-icon>support_agent</mat-icon>
      </button>

      <div tabindex="-1" class="row user_details_container" [matMenuTriggerFor]="menu">
        <div class="user_details_text">
          {{ empresaSimplificada?.nome }} -
          <b class="valor_saldo">
            {{ empresaSimplificada?.saldo | currency: 'BRL' }}
          </b>
        </div>
        <mat-icon class="user_details_icon">expand_more</mat-icon>
      </div>
      <mat-menu class="menu" #menu="matMenu">
        <button class="menu_button" mat-menu-item tabindex="-1">
          <mat-icon class="menu_icon">face_6</mat-icon>
          <span class="menu_text">Meus dados</span>
        </button>
        <button class="menu_button" (click)="openDialog('0ms', '0ms')" mat-menu-item tabindex="-1">
          <mat-icon class="menu_icon">moving</mat-icon>
          <span class="menu_text">Transferir via pix</span>
        </button>
        <button class="menu_button" mat-menu-item (click)="logout()">
          <mat-icon class="menu_icon">exit_to_app</mat-icon>
          <span class="menu_text">Sair</span>
        </button>
      </mat-menu>
    </div>

  </mat-toolbar>

</div>