@import '../../../dist/variables.scss';

div {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    padding: 0;
    background: $light-black;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    padding: 0;
    margin: 0;
    background: transparent;
}

.container_botao_menu{
    width: 3.5rem;
    display: flex;
    justify-content: center;
}

.coluna_direita {
    padding-right: 1rem;
    display: flex;
    align-items: center;
}

.user_details_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.5rem;
    padding: 0 1rem;
    border: 1px solid $dark-grey;
    height: 50%;
    cursor: pointer;
}

.user_details_text {
    color: $light-grey;
    font-family: $font-poppins;
    font-size: 0.8rem;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.valor_saldo {
    color: $light-white;
    font-weight: 400;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.user_details_icon {
    color: $primary-color;
    margin-left: 0.1rem;
}

/* BOTÃO QUE ABRE E FECHA O SIDENAV */

.botao_menu {
    color: $primary-color;
}

.icon {
    color: $dark-white;
}

.menu_text {
    font-size: 1rem;
}

::ng-deep .mat-mdc-menu-content {
    background-color: $light-black !important;
}

.menu_text {
    color: $dark-white;
}

.menu_icon {
    color: $primary-color;
}

::ng-deep .menu_notificacoes {
    max-height: 20rem !important;
}

.menu_notificacoes_container {
    height: 100%;
    padding: 0.5rem 1rem;
}

.menu_notificacoes_titulo {
    font-family: $font-poppins;
    font-size: 0.9rem;
    font-weight: 500;
    color: $dark-white;
}

.menu_notificacoes_hr {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
    padding: 0;
    background-color: $dark-grey;
    border: none;
}

.menu_notificacoes_content {
    display: flex;
    justify-content: right;
    align-items: center;
}

.menu_notificacoes_content_vazio {
    justify-content: center;
}

.menu_notificacoes_item {
    margin: 0.5rem 0;
    padding: 0.2rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    background-color: $light-black-hover;
    border: 1px solid $light-black-hover;
}

.menu_notificacoes_item:hover {
    border-color: $primary-color;
    background-color: $medium-black;
    transition: 0.5s;
}

::ng-deep .menu_notificacoes_item .mat-badge-content {
    color: transparent;
    width: 10px;
    height: 10px;
    top: -3px !important;
    right: -4px !important;
}

.marcar_notificacoes_como_lido {
    font-size: 0.7rem;
    text-align: right;
    color: $primary-color;
    font-family: $font-poppins;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 0.2rem;
}

.marcar_notificacoes_como_lido:hover {
    text-decoration: underline;
    text-decoration-color: $primary-color;
}

/* width */
::ng-deep ::-webkit-scrollbar {
    width: 0.3rem !important;
    height: 0.5rem !important;
}

/* Track */
::ng-deep ::-webkit-scrollbar-track {
    background: $dark-white !important;
    border-radius: 100px !important;
}

/* Handle */
::ng-deep ::-webkit-scrollbar-thumb {
    background: $primary-color !important;
    box-shadow: inset 0 0 2px $dark-black !important;
    border-radius: 100px !important;
}

/* Handle on hover */
::ng-deep ::-webkit-scrollbar-thumb:hover {
    background: $primary-color-dark !important;
}

.menu_notificacoes_text {
    font-size: 0.7rem;
    font-weight: 400;
    color: $dark-white;
    font-family: $font-poppins;
}

.icone_nenhuma_notificacao {
    width: 50px;
    height: 50px;
    font-size: 50px;
    color: $dark-white;
}

.texto_nenhuma_notificacao {
    font-size: 0.8rem;
    color: $dark-white;
    font-family: $font-poppins;
    text-align: center;
    font-weight: 500;
}

@media (max-width: 380px) {
    .nome_empresa {
        font-size: 0.90rem
    }
    .mat-icon {
        font-size: 1.4rem;
    }
    .container_nome_empresa {
        margin-top: 0rem;
    }
}