<div class="container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mat-elevation-z8">

    <div class="row block_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

        <div class="block col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="row block_content_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="block_content block_icon_content col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
                    <mat-icon fontIcon="attach_money" class="icone icone_block"></mat-icon>
                </div>
                <div class="block_right_content col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="block_content block_title_content col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        TOTAL
                    </div>
                    <div class="block_content block_text_content col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        {{ dadosPlano?.totalCobrancas | currency: 'BRL' }}
                    </div>
                </div>
            </div>
        </div>

        <div class="block col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="row block_content_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="block_content block_icon_content col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
                    <mat-icon fontIcon="pending_actions" class="icone icone_block"></mat-icon>
                </div>
                <div class="block_right_content col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="block_content block_title_content col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        PENDENTE
                    </div>
                    <div class="block_content block_text_content col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        {{ dadosPlano?.totalPendente | currency: 'BRL' }}
                    </div>
                </div>
            </div>
        </div>

        <div class="block col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="row block_content_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="block_content block_icon_content col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
                    <mat-icon fontIcon="price_check" class="icone icone_block"></mat-icon>
                </div>
                <div class="block_right_content col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="block_content block_title_content col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        PAGO
                    </div>
                    <div class="block_content block_text_content col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        {{ dadosPlano?.totalPago | currency: 'BRL' }}
                    </div>
                </div>
            </div>
        </div>

        <div class="block col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="row block_content_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="block_content block_icon_content col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
                    <mat-icon fontIcon="money_off" class="icone icone_block"></mat-icon>
                </div>
                <div class="block_right_content col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="block_content block_title_content col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        EM ATRASO
                    </div>
                    <div class="block_content block_text_content col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        {{ dadosPlano?.totalEmAtraso | currency: 'BRL' }}
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container_informativos row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

        <div class="informativos_block col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
            <div class="row informativos_content col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <div class="block_opcoes row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="block_opcoes_interno">
                        <div class="botao botao_retornar row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                            (click)="retornarParaTabela()">
                            <mat-icon class="icone_retornar" fontIcon="arrow_back"></mat-icon>
                            <h5 class="retornar_text">
                                Retornar
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="descricao_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    {{ plano?.descricao | titlecase }}
                </div>

                <hr>

                <div class="descricao_atributo col-xl-12 col-lg-12 col-md-12 col-sm-6">
                    <div class="row descricao_atributo_titulo col-xl-12 col-lg-12 col-md-12 col-12">
                        Valor
                    </div>
                    <div class="descricao_atributo_texto col-xl-12 col-lg-12 col-md-12 col-12">
                        {{ plano?.valor | currency: 'BRL' }}
                    </div>
                </div>

                <div class="descricao_atributo col-xl-12 col-lg-12 col-md-12 col-sm-6">
                    <div class="descricao_atributo_titulo col-xl-12 col-lg-12 col-md-12 col-12">
                        Forma de pgto.
                    </div>
                    <div class="descricao_atributo_texto col-xl-12 col-lg-12 col-md-12 col-12">
                        {{ plano?.formaPagamento }}
                    </div>
                </div>

                <div class="descricao_atributo col-xl-12 col-lg-12 col-md-12 col-sm-6">
                    <div class="descricao_atributo_titulo col-xl-12 col-lg-12 col-md-12 col-12">
                        Periodicidade
                    </div>
                    <div class="descricao_atributo_texto col-xl-12 col-lg-12 col-md-12 col-12">
                        {{ plano?.periodicidade }}
                    </div>
                </div>

                <div class="descricao_atributo col-xl-12 col-lg-12 col-md-12 col-sm-6">
                    <div class="descricao_atributo_titulo col-xl-12 col-lg-12 col-md-12 col-12">
                        Comprometimento
                    </div>
                    <div class="descricao_atributo_texto col-xl-12 col-lg-12 col-md-12 col-12">
                        {{ dadosPlano?.comprometimento + '%' }}
                    </div>
                </div>

                <div class="descricao_atributo col-xl-12 col-lg-12 col-md-12 col-sm-6">
                    <div class="descricao_atributo_titulo col-xl-12 col-lg-12 col-md-12 col-12">
                        Status
                    </div>
                    <div class="descricao_atributo_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <span [class]="plano?.statusPlano">
                            {{ plano?.statusPlano }}
                        </span>
                    </div>
                </div>

            </div>
        </div>

        <div class="informativos_block col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
            <div class="informativos_content col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="pagamentos_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    COBRANÇAS
                </div>
                <app-tabela [@fadeInOut] [tbodies]="obtemTdsTabela()" [theads]="obtemThsTabela()"
                    [objetos]="pagamentoPageObject?.content" [check]="false" [options]="true"
                    [dblClickEnabled]="false"></app-tabela>
            </div>
        </div>

    </div>

</div>