@import '../../../../../dist/variables.scss';
@import "../../../../../../node_modules/rfs/scss";

div,
h1,
hr,
button {
    margin: 0;
    padding: 0;
}

.container {
    background-color: $light-black;
    padding: 2rem 2rem;
    margin: 1rem 0;
    height: 95%;
}

.block {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.block_content_container {
    border: 1px solid $dark-grey;
    padding: 1rem 0.5rem;
}

.block_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icone_block {
    font-size: 55px;
    height: 55px;
    width: 55px;
    color: $primary-color;
}

.block_title_content {
    font-size: 1rem;
    font-family: $font-roboto;
    color: $primary-color;
    font-weight: 700;
    margin-top: 0.3rem;
    justify-content: left;
}

.block_text_content {
    font-size: 1.2rem;
    font-family: $font-poppins;
    color: $light-grey;
    font-weight: 500;
    margin-top: 0.3rem;
    justify-content: left;
}

.container_informativos {
    padding: 0 0.5rem;
    margin: 0;
    height: calc(100% - (55px + 3rem));
}

.block_opcoes {
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $dark-grey;
}

.block_opcoes_interno {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.botao {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    color: $light-grey;
    cursor: pointer;
}

.icone_retornar {
    color: $light-grey;
    cursor: pointer;
    font-size: 1.2rem;
}

.icone_retornar {
    margin-right: 0.2rem;
    display: flex;
    align-items: center;
}

.retornar_text {
    font-family: $font-poppins;
    font-size: 0.90rem;
    font-weight: 500;
    margin: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.botao_retornar:hover,
.botao_retornar:hover>.icone_retornar {
    color: $dark-white;
}

.botao_retornar:focus {
    outline: 0;
}

.informativos_block {
    height: 100%;
}

.informativos_block:first-of-type {
    padding-right: 0.7rem;
}

.informativos_block:last-of-type {
    padding-left: 0.3rem;
}

.informativos_content {
    padding: 1rem;
    padding-top: 0.5rem;
    border: 1px solid $dark-grey;
    height: 100%;
}

.descricao_titulo {
    font-size: 1rem;
    font-family: $font-poppins;
    color: $dark-white;
    margin-bottom: 0.5rem;
    padding: 0;
    overflow: hidden;
}

.descricao_atributo {
    margin-top: 0.5rem;
    padding: 0rem;
}

.descricao_atributo_titulo {
    font-size: 0.8rem;
    color: $dark-white;
    font-family: $font-poppins;
    width: 100%;
    overflow: hidden;
}

.descricao_atributo_texto {
    font-size: 0.8rem;
    color: $light-white;
    font-family: $font-poppins;
    width: 100%;
    overflow: hidden;
}

.pagamentos_titulo {
    font-size: 1.2rem;
    color: $dark-white;
    padding: 0 0.5rem;
    display: flex;
    justify-content: center;
    font-family: $font-poppins;
    font-weight: 600;
    margin: 0.3rem 0;
    color: $primary-color;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

span {
    padding: 0 0.5rem;
    border-radius: 3px;
}

.Ativo {
    border: 1px solid $success;
    color: $success;
}

.Inativo {
    border: 1px solid $red;
    color: $red;
}

@media (max-width: 1200px) {

    .block_content_container {
        padding: 1rem 0.5rem;
    }

    .icone_block {
        font-size: 45px;
        height: 45px;
        width: 45px;
    }

    .block_title_content {
        font-size: 0.9rem;
        margin-top: 0;
        justify-content: center;
    }

    .block_text_content {
        font-size: 1rem;
        margin-top: 0;
        justify-content: center;
    }

    .container_informativos {
        height: calc(100% - (55px + 5rem));
    }

    .pagamentos_titulo {
        font-size: 1rem;
        font-weight: 600;
    }

}

@media (max-width: 960px) {
    .icone_block {
        font-size: 40px;
        height: 40px;
        width: 40px;
    }

}

@media (max-width: 768px) {
    .icone_block {
        font-size: 35px;
        height: 35px;
        width: 35px;
    }

    .block_title_content {
        font-size: 0.8rem;
    }

    .block_text_content {
        font-size: 0.9rem;
    }

    .container {
        height: auto;
        padding: 2rem 1.5rem;
    }

    .informativos_block {
        padding: 0 !important;
        margin-top: 0.5rem;
    }
    .descricao_titulo {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }
    .pagamentos_titulo {
        font-size: 0.8rem;
        font-weight: 600;
    }
}

@media (max-width: 576px) {
    .descricao_atributo {
        width: 100%;
    }
}