@import '../../../../dist/variables.scss';
@import "../../../../../node_modules/rfs/scss";

.table_container {
    margin: 0;
    padding: 0;
}

table {
    padding: 0 1rem !important;
    background-color: $light-black;
}

thead {
    border-bottom: 1px solid $dark-grey;
}

thead tr th {
    padding: 0.5rem 0.75rem;
}

.table td, .table th {
    font-family: $font-poppins;
    font-size: 0.8rem;
}

.th_content {
    color: $light-white;
}

.td_content {
    color: $dark-white;
}

tr:hover {
    cursor: pointer;
}

tr td:first-of-type {
    color: $light-white;
}

.header_checkbox {
    padding-left: 0 !important;
}

tr th:first-of-type {
    padding-left: 0;
}

tr th:last-of-type {
    padding-right: 0;
}

.icone_tabela {
    color: $primary-color;
    cursor: pointer;
}

input[type=checkbox] {
    accent-color: $primary-color;
    outline: none;
}

.tabela_vazia_container {
    width: 100%;
    padding: 0;
    margin: 3rem 0 2rem 0;
    font-size: 0.90rem;
    color: $dark-white;
    font-weight: 400;
    font-family: $font-poppins;
    text-align: center;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}

@media (max-width: 470px) {

}