<div class="container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mat-elevation-z8">

    <h1 class="titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        {{ titulo }}
    </h1>

    <hr class="hr">

    <form class="row form col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" [formGroup]="dadosPlano"
        (keyup.escape)="botaoRetorno.click()">

        <!-- INPUT GROUP NOME -->
        <app-custom-input class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" [id]="'inputNome'" [titulo]="'Nome'"
            [tabIndex]="1" [maxLength]="50" [touched]="dadosPlano.controls['nome'].touched"
            [todosCaracteresMaiusculos]="true" [customIcon]="null"
            [disabledGroup]="dadosPlano.controls['nome'].disabled"
            [valido]="!(dadosPlano.controls['nome'].touched && dadosPlano.controls['nome'].invalid)"
            [mensagemErro]="'Campo obrigatório'" formControlName="nome" #inputNome></app-custom-input>

        <app-custom-select-box [selectBoxList]="geraSelectBoxList()"></app-custom-select-box>

        <!-- PRIMEIRO CONTAINER DE BOTÃO -->
        <div class="button_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <button class="button botaoHabilitado" type="button" #botaoRetorno mat-button tabindex="9"
                (click)="retornaParaVisualizacaoDePlanos()">
                Voltar
            </button>
            <button tabindex="10" class="button" type="button" mat-button matStepperNext #botaoProximo>Enviar</button>
        </div>

    </form>


</div>