<div class="container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mat-elevation-z8">

    <h1 class="titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        {{ titulo }}
    </h1>

    <hr class="hr">

    <form class="row form col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" [formGroup]="dadosPlano"
        (keyup.escape)="botaoRetorno.click()">

        <!-- INPUT GROUP CLIENTE -->
        <app-custom-input class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" [titulo]="'Cliente'"
            [disabledGroup]="true" [valido]="true" formControlName="cliente"></app-custom-input>

        <!-- INPUT GROUP DESCRIÇÃO -->
        <app-custom-input class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" [id]="'inputDescricao'"
            [titulo]="'Descrição do plano'" [tabIndex]="1" [maxLength]="50"
            [touched]="dadosPlano.controls['descricao'].touched" [todosCaracteresMaiusculos]="true" [customIcon]="null"
            [disabledGroup]="dadosPlano.controls['descricao'].disabled"
            [valido]="!(dadosPlano.controls['descricao'].touched && dadosPlano.controls['descricao'].invalid)"
            [mensagemErro]="'Campo obrigatório'" formControlName="descricao" #inputNome></app-custom-input>

        <!-- INPUT GROUP VALOR -->
        <app-custom-input class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12" [id]="'inputValor'" [titulo]="'Valor'"
            [tabIndex]="2" [maxLength]="10" [touched]="dadosPlano.controls['valor'].touched"
            [customIcon]="'attach_money'" [disabledGroup]="dadosPlano.controls['valor'].disabled"
            [valido]="!(dadosPlano.controls['valor'].touched && dadosPlano.controls['valor'].invalid)"
            [mensagemErro]="'Campo obrigatório'" formControlName="valor" #inputValor></app-custom-input>

        <!-- INPUT GROUP DATA DE INÍCIO -->
        <app-custom-date-input class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12" [id]="'inputDataInicio'"
            [titulo]="'Data de início'" [tabIndex]="3" formControlName="dataInicio" [minDate]="getHojeUs()"
            #inputDataInicio></app-custom-date-input>

        <!-- INPUT GROUP PERIODICIDADE DE COBRANÇA -->
        <app-custom-select class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12" formControlName="periodicidade"
            [tabIndex]="4" [titulo]="'Periodicidade de cobrança'"
            [disabledGroup]="dadosPlano.get('periodicidade').disabled" #selectAcessoSistemaAtivo
            [options]="geraOptionsPeriodicidadeCobranca()"></app-custom-select>

        <!-- INPUT FORMA DE PAGAMENTO -->
        <app-custom-select-box class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
            [selectBoxList]="geraSelectBoxListFormasDePagamento()" [titulo]="'Forma de pagamento'"
            [multiSelection]="false"
            (emissorDeBoxSelecionado)="recebeAlteracaoDeFormaPagamento($event)"></app-custom-select-box>

        <div *ngIf="formaPagamentoAtual == 'CREDIT_CARD'"
            class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 credit_card_container" [@slideUpDown]>

            <!-- INPUT GROUP NOME PORTADOR -->
            <app-custom-input class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" [id]="'inputNomePortador'"
                [titulo]="'Nome impresso no cartão'" [tabIndex]="5" [maxLength]="50"
                [touched]="dadosPlano.controls['nomePortador'].touched" [todosCaracteresMaiusculos]="true"
                [customIcon]="null" [disabledGroup]="dadosPlano.controls['nomePortador'].disabled"
                [valido]="!(dadosPlano.controls['nomePortador'].touched && dadosPlano.controls['nomePortador'].invalid)"
                [mensagemErro]="'Campo obrigatório'" formControlName="nomePortador"
                #inputNomePortador></app-custom-input>

            <!-- INPUT GROUP CPF/CNPJ -->
            <app-custom-input class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" [id]="'cpfCnpjPortador'"
                [titulo]="'Cpf ou Cnpj impresso no cartão'" [tabIndex]="6" [maxLength]="20"
                [touched]="dadosPlano.controls['cpfCnpjPortador'].touched" [todosCaracteresMaiusculos]="false"
                [customIcon]="'badge'" (input)="realizaTratamentoCpfCnpj()"
                [disabledGroup]="dadosPlano.controls['cpfCnpjPortador'].disabled"
                [valido]="!(dadosPlano.controls['cpfCnpjPortador'].touched && dadosPlano.controls['cpfCnpjPortador'].invalid)"
                [mensagemErro]="'CPF/CNPJ Inválido!'" formControlName="cpfCnpjPortador"
                #inputCpfCnpjPortador></app-custom-input>

            <!-- INPUT GROUP NUMERO DO CARTÃO -->
            <app-custom-input class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" [id]="'numero'"
                [titulo]="'Número do cartão'" [tabIndex]="7" [maxLength]="20"
                [touched]="dadosPlano.controls['numero'].touched" [todosCaracteresMaiusculos]="false"
                [customIcon]="'credit_card'" (input)="realizaTratamentoNumeroCartao()"
                [disabledGroup]="dadosPlano.controls['numero'].disabled"
                [valido]="!(dadosPlano.controls['numero'].touched && dadosPlano.controls['numero'].invalid)"
                [mensagemErro]="'Campo obrigatório'" formControlName="numero" #inputNumeroCartao></app-custom-input>

            <!-- INPUT GROUP CCV -->
            <app-custom-input class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6" [id]="'ccv'" [titulo]="'Ccv'"
                [tabIndex]="8" [maxLength]="3" [touched]="dadosPlano.controls['ccv'].touched"
                [todosCaracteresMaiusculos]="false" [customIcon]="null" (input)="realizaTratamentoNumeroCartao()"
                [disabledGroup]="dadosPlano.controls['ccv'].disabled"
                [valido]="!(dadosPlano.controls['ccv'].touched && dadosPlano.controls['ccv'].invalid)"
                [mensagemErro]="'Campo obrigatório'" formControlName="ccv" #inputCcvCartao></app-custom-input>

            <!-- INPUT GROUP CPF/CNPJ -->
            <app-custom-input class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6" [id]="'numero'"
                [titulo]="'Número do cartão'" [tabIndex]="7" [maxLength]="20"
                [touched]="dadosPlano.controls['numero'].touched" [todosCaracteresMaiusculos]="false"
                [customIcon]="'credit_card'" (input)="realizaTratamentoNumeroCartao()"
                [disabledGroup]="dadosPlano.controls['numero'].disabled"
                [valido]="!(dadosPlano.controls['numero'].touched && dadosPlano.controls['numero'].invalid)"
                [mensagemErro]="'Campo obrigatório'" formControlName="numero" #inputNumeroCartao></app-custom-input>

        </div>

        <!-- INPUT NOTIFICAÇÕES -->
        <app-custom-select-box class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
            [selectBoxList]="geraSelectBoxListNotificacoesCobranca()" [titulo]="'Notificações de cobrança'"
            [multiSelection]="true"
            (emissorDeBoxSelecionado)="recebeAlteracaoDeFormaPagamento($event)"></app-custom-select-box>

        <!-- PRIMEIRO CONTAINER DE BOTÃO -->
        <div class="button_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="button_block col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                <button class="button botaoHabilitado col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" type="button"
                    #botaoRetorno mat-button tabindex="6" (click)="retornaParaVisualizacaoDePlanos()">
                    Voltar
                </button>
            </div>
            <div class="button_block col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                <button tabindex="7" class="button col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" type="button"
                    mat-button matStepperNext #botaoProximo>Enviar</button>
            </div>
        </div>

    </form>


</div>