<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 container">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 login_container">

        <div class="row login_block mat-elevation-z8">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 login_titulo">
                BEM-VINDO
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 login_subtitulo">
                Acesse a sua conta
            </div>

            <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 input_block">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 input_label_container">
                    <label>
                        CPF ou CNPJ
                    </label>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 input_container">
                    <input class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 input" type="text"
                        placeholder="Digite seu CPF ou CNPJ" />
                </div>
            </div>

            <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 input_block">
                <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 input_label_container">
                    <label>
                        Senha
                    </label>
                    <div class="esqueceu_senha">
                        Esqueceu a senha?
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 input_container">
                    <input class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 input"
                        placeholder="Digite sua senha" type="password" />
                </div>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 container_botao">
                <button class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 botao" type="button">
                    Acesse agora
                </button>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 registrar">
                Não possui uma conta? <b>Registre-se</b>
            </div>

        </div>

    </div>
</div>