<div class="dados_titulo_container row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
    [ngClass]="{'dados_titulo_container_disabled': isEnderecoDisabled()}" (click)="expandeEndereco()">
    <div class="dados_pessoais_titulo">Endereço</div>
    <mat-icon [fontIcon]="dadosEndereco ? 'expand_more' : 'chevron_left'" class="icone icone_titulo"></mat-icon>
</div>

<div *ngIf="dadosEndereco" [@slideUpDown]
    class="container_dados container_dados_pessoais row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

    <div class="dados_pessoais_info_block row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="dados_pessoais_info_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            CEP
        </div>
        <div class="dados_pessoais_info_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            {{ cliente?.endereco?.codigoPostal ? cliente?.endereco?.codigoPostal : 'Não informado' }}
        </div>
    </div>

    <div class="dados_pessoais_info_block row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="dados_pessoais_info_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            Logradouro
        </div>
        <div class="dados_pessoais_info_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            {{ cliente?.endereco?.logradouro + ', ' + cliente?.endereco?.numero }}
        </div>
    </div>

    <div class="dados_pessoais_info_block row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="dados_pessoais_info_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            Bairro
        </div>
        <div class="dados_pessoais_info_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            {{ cliente?.endereco?.bairro ? cliente?.endereco?.bairro : 'Não informado' }}
        </div>
    </div>

    <div class="dados_pessoais_info_block row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="dados_pessoais_info_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            Estado
        </div>
        <div class="dados_pessoais_info_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            {{ cliente?.endereco?.estado ? cliente?.endereco?.estado : 'Não informado' }}
        </div>
    </div>

    <div class="dados_pessoais_info_block row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="dados_pessoais_info_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            Cidade
        </div>
        <div class="dados_pessoais_info_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            {{ cliente?.endereco?.cidade ? cliente?.endereco?.cidade : 'Não informado' }}
        </div>
    </div>

    <div class="dados_pessoais_info_block row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="dados_pessoais_info_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            Complemento
        </div>
        <div class="dados_pessoais_info_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            {{ cliente?.endereco?.complemento ? cliente?.endereco?.complemento : 'Não informado' }}
        </div>
    </div>


</div>